#section {
	margin: 30px;

}

#carousel {
	margin: 30px;
}

#event{
	align-content: center;

}

#event_friend {
	margin: 50px;

}

#event_perso {
	margin: 50px;
}

#Google-contact {
	align-content: center;
	margin: 50px;
}

#description {
	margin: 50px;
}

#partenaire {
	margin: 50px;
}